/uploads

# Compiled class file
*.class

# Log file
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.iws.xml

# Eclipse files
.classpath
.project
.settings/

# Maven files
target/

# Spring Boot files
*.jar
*.war
target/

# Visual Studio Code files
.vscode/

# Mac OS files
.DS_Store

